**/build/
**/sim_build/
**/xpacks/
rtl/**/*.bin
rtl/**/top*.config
*.egg-info
*.srctrl*
*.kdev4
.vscode
results.xml
*.pyc
*.swp
*.user
*.user*
*.log
*.json
.cache/*
.scon*
.ipy*
SConstruct
app/fusion_firmware/modm
